body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

/* navigation secion */

nav{
    padding-top: 4px;
}

.social{
    height: 25px;
}   



.blockquote-reverse{
    margin-top: 100px;
}


/* home page gallery section */

.thumbnail{
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 30px lightgrey;
}

.thumbnail img{
    height:180px;
}

.thumbnail h3{
    color: gray;
}

.main-page-gallery{
    margin-top: 50px;
}


a:link {
    text-decoration: none;
}


/* home page featured secion */

.main-page-featured h1{
    color: #ff3a3a;
    font-weight:700;
    letter-spacing:+0.025em;
    text-align: left;
}

.thumbnail-featured img{
    float:right;
    height:100px;
    padding: 20px;
}

.thumbnail-featured p{
    margin-bottom: 10px;
    text-align: left;
    font-size:12px;
}

/* home page footer secion */

.footer-col-wrapper{
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    font-size:12px;
}
.footer-col-wrapper a{
    color: #2a7ae2;
    text-decoration: none;
}