body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h2{
    font-weight: bold;
    color: #2a7ae2;
    border-bottom: 2px dotted #ff3a3a;
    padding: 10px 0;
}


h3{
    font-weight: bold;
}




.main{
    margin-top: 50px;
}

/* navigation secion */

nav{
    padding-top: 4px;
}

.social{
    height: 25px;
}   



/* resumepage mainarea*/
#descriptive-content--resumepage{
    margin-top: 25px;
    padding :10px;
}

/* resumepage sidebar */
#aside-content--resumepage{
    padding: 10px;
    margin-top: 25px;
    font-size: .75em;
}

/* resumepage sidebar */
#aside-content--resumepage h3{
    font-weight: bold;
    color: #2a7ae2;
    border-bottom: 2px dotted #ff3a3a;
    padding: 10px 0;
}


/* footer section */

.footer-col-wrapper{
    border-top: 1px solid #e8e8e8;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
    font-size:12px;
}
.footer-col-wrapper a{
    color: #2a7ae2;
    text-decoration: none;
}