

body{
    font-family: 'Antic', sans-serif;
    font-size: 18px;
    background-color: lightgrey;
    font-weight: normal;
    margin: 0;
  
}

.main-frame{
    margin-top:50px;
    padding: 25px;
}


#brand{
    background-color: lightseagreen;
    font-size: 30px;
    color: white;
}


/* data page */
.table-layout{
    padding: 10px 10px;
    height:500px; 
    overflow: auto;
}

/* landing page*/


#box1{
    border: 1px black dotted;
    background-color: white;
    padding: 30px;
}

#box1 h2{
    color: lightseagreen;
    font-weight: bold;
}

#box1 img{
    float: left;
    width: 50%;
}

#box2{
    border: 1px black dotted;
    background-color: white;
    padding: 20px;
}

#box2 h3{
    color: lightseagreen;
    font-weight: bold;
}

#box2 img{
    width:100%;
}


/* footer */

#main-footer{
    border-top: 3px lightseagreen solid;
    margin-top: 40px;
    margin-bottom: 40px;
}

#main-footer p{
    text-align: center;
    background-color: darkgray;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 10px;
    margin-bottom: 0px;
}

/* comparison page */

#boxes{
    border: 1px black dotted;
    background-color: white; 
    padding: 10px;
}

#boxes h2{
    color: lightseagreen;
    font-weight: bold;
    padding: 0 15px;
}

#boxes h3{
    color: lightseagreen;
    font-weight: bold;
    text-align: center;
    padding: 0 15px;
    }

#boxes p{
        padding: 0 15px;
    }

#boxes img{
    width: 70%;
    margin: 0 auto;
}

/* viz pages */

#box3{
    border: 1px black dotted;
    background-color: white;
    padding: 30px;
}

#box3 h2{
    color: lightseagreen;
    font-weight: bold;
}

#box3 img{
    width: 70%;
    margin: 0 auto;
}

#box4{
    border: 1px black dotted;
    background-color: white;
    padding: 30px;
}

#box4 h3{
    color: lightseagreen;
    font-weight: bold;
}

